html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-family: 'Kodchasan', sans-serif;
    min-width: 1500px;
}
.navbar-section {
    max-width: 1504px;
    margin: 0 auto;
}

.honey-section {
    max-width: 1500px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1500px; 
}
.container-jar {
    width: 100%;
    max-width: 1500px; 
    margin: 0 auto;
}

.honeyjar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 110px);
    background-image: url('../img/background.png');
    max-width: 1500px;
    max-height: 865px;
    margin: 0 auto;
    z-index:0;
}
.vector {
    z-index: 0;
    position: absolute;
    opacity: 50%;
}
.honey-stick {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 80px;
}

.honeyjar__text1 h1, .honeyjar__text2 h1, .honeyjar__text3 h1 {
    font-size: 100px;
    font-weight: 700;
    color: black;
    z-index: 2;
}

.honeyjar__text1 {
    grid-column: 2/7;
    grid-row: 3/5;
    margin-top: -40px;
    margin-left: -12px;
    z-index: 2;
}

.honeyjar__text2 {
    grid-column: 3/5;
    grid-row: 4/5;
    margin-top: -10px;
    margin-left: -40px;
    z-index: 2;
}

.honeyjar__text3 {
    grid-column: 4/7;
    grid-row: 5/7;
    margin-top: 25px;
    margin-left: 35px;
    z-index: 2;
}

.bee-image {
    grid-column: 2/4;
    grid-row: 5/6;
    position: relative;
    z-index: 2;
}

.bee-image::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 274px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

.honeyjar__image {
    grid-column: 7/12;
    grid-row: 2/7;
    z-index: 2;
}

.honeyjar__buttons {
    font-size: 18px;
    grid-column: 2/6;
    grid-row: 7/7;
    z-index: 2;
}

.buy-now {
    width: 180px;
    height: 65px;
    background-color: #000;
    color: white;
    border: 2px black solid;
    font-weight: 700;
    box-shadow: none;
    transition: all 0.5s;
}
.buy-now:hover {
    background-color: transparent;
    color: black;
}
.learn-more {
    border: 2px black solid;
    width: 180px;
    height: 65px;
    background-color: transparent;
    color: #000;
    font-weight: 700;
    margin-left: 30px;
    transition: all 0.5s;
}
.learn-more:hover {
    background-color: black;
    color: white;
}
.honey-shops {
    margin-top: 143px; 
}
.shops-h1 {
    font-size: 45px;
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 69px ;
}
.shop-items {
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 135px;
    display: flex;
    gap: 102px;
}
.honey-info {
    margin: 0 auto;
    max-width: 1406px;
    max-height: 784px;
    margin-bottom: 100px;
}

.container-honey {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.info-h1 {
    margin-bottom: 48px; 
    font-size: 45px; 
    line-height: 145%;
    font-weight: bold; 
    color: black;
}

.info-p {
    margin-bottom: 50px; 
    font-size: 22px;
    font-weight: 700; 
    line-height: 160%; 
    color: #666; 
}

.learn-more-btn {
    width: 184px;
    height: 59px;
    font-size: 18px; 
    font-weight: bold; 
    color: white; 
    background-color: #E58311;
    border: 2px#E58311 solid; 
    transition: background-color 0.5s ease;
}

.learn-more-btn:hover {
    background-color: transparent; 
    color: #E58311;
}
.honey-info1 {
    margin: 0 auto;
    max-width: 1406px;
    max-height: 784px;
    margin-bottom: 100px;
}

.container-honey1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.info-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.info-img2 {
    order: 2;
}
.info-text1 {
    order:1;
}
.honey-product {
    margin: 0 auto;
    max-width: 1145px;
    max-height: 427px;
    margin-bottom: 130px;
    position: relative;
}
.product-text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.product-h1 {
    margin-bottom: 68px; 
    font-size: 45px; 
    line-height: 145%;
    font-weight: bold; 
    color: black;
}
.buy-honey {
    display: flex;
    gap: 30px;
}
.buy1, .buy2 {
    background-color: rgb(253,246,238);
    width: 558px;
    height: 305px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.product-h1-text {
    margin-bottom: 20px; 
    font-size: 28px; 
    line-height: 140%;
    font-weight: bold; 
    color: black;
}

.product-p {
    margin-bottom: 36px; 
    font-size: 16px;
    font-weight: 700; 
    line-height: 160%; 
    color: #666; 
}
.buy-now-btn {
    font-size: 18px; 
    font-weight: bold; 
    color: #ffa600;
    border: 2px #ffa600 solid;
    background-color: rgb(253,246,238); 
    background-color: transparent;
    line-height: 160%;
    transition: all 0.5s;
    margin-top: auto;
    width: 140px;
    height: 49px;
}
.buy-now-btn:hover {
    color: rgb(253,246,238);
    background-color:#ffa600;
}
.our-product-h {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.see-all {
    padding-top: 40px;
    font-size: 18px; 
    line-height: 160%;
    font-weight: bold; 
    color: #E58211;
    text-decoration: underline;
    transition: all 0.3s;
}
.see-all:hover {
    color:black;
}
.product-img2 {
    margin-right: 40px;
}
footer {
    background: rgb(255,157,45);
    background: linear-gradient(90deg, rgba(255,157,45,1) 0%, rgba(255,216,119,1) 100%);
    min-width: 1600px;
    height: 137px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.contacts {
    width: 1146px;
    height: 47px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
}

.contacts-icons {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.footer-logo {
    filter: brightness(0);
}
.footer-logo1 {
    margin-right: 50px;
}
.footer-text {
    margin-right: 89px;
    max-width: 269px;
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
}
.footer-social {
    margin-right: 173px;
    display: flex;
    gap: 40px;
}
.footer-app {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media (max-width: 2000px) {
    footer {
        max-width: 2000px;
    }
    .vector {
        bottom: 10%; 
        left: 15%;  
        width: 70%;  
        height: auto; 
    }
    
}
@media (max-width: 1756px) {
    .vector {
        bottom: 10%; 
        left: 7%;  
        width: auto;  
        height: auto; 
    }
}
@media (max-width: 1628px) {
    .vector {
        bottom: 10%; 
        left: 5%;  
        width: auto;  
        height: auto; 
    }
}

@media (max-width: 1440px) {
    footer {
        min-width: 1440px;
    }
    .honeyjar {
        margin-left: 50px;
    }
    .vector {
        bottom: 10%; 
        left: 5%;  
        width: auto;  
        height: auto; 
    }
}

@media (max-width: 768px) {
.honey-stick {
    display: none;
}
    .navbar-section {
        margin-left: 75px;
    }
    .honeyjar {
        margin-left: 20px;
    }
}
@media (max-width: 600px) {
    .vector {
        display: none;
    }
}
@media (max-width: 425px) {
    .vector {
        display: none;
    }
    .footer {
        max-width: 410px;
    }
    .container-honey, .container-honey1 {
        margin-right: 80px;
    }
    .honeyjar {
        margin-left: 40px;
    }
    .navbar-section {
        margin-left: 0;
    }
    .honeyjar {
        width: 410px;
        margin-left: 0;
        height: 650px;
        grid-template-rows: repeat(6, 110px);
    }
    body, main {
        max-width: 410px;
        min-width: 410px;
    }
    .honeyjar__text1 h1, .honeyjar__text2 h1, .honeyjar__text3 h1 {
        font-size: 50px;
        font-weight: 700;
        color: black;
    }
    .bee-image {
        display: none;
    }
    .honeyjar__image, .img1 {
        grid-column: 5/6;
        grid-row: 4/6;
        width: 250px;
        height: 220px;
    }
    .honeyjar__text1 {
        grid-column: 2/7;
        grid-row: 1/1;
        margin-left: 0;
        margin-top: 0;
    }
    
    .honeyjar__text2 {
        grid-column: 3/7;
        grid-row: 2/2;
        margin-left: 0;
        margin-top: 0;
    }
    
    .honeyjar__text3 {
        grid-column: 4/7;
        grid-row: 3/3;
        margin-left: 0;
        margin-top: 0;
    }
    .honeyjar__buttons {
        grid-column: 1/13;
        grid-row: 6/6;
    }
    .learn-more {
        margin-left: 0;
    }
    .honey-shops {
        margin-top: 60px; 
        display: flex;
        flex-direction: row;
    }
    .shops-h1 {
        font-size: 35px;
        margin-left: 0;
        font-weight: bold;
        margin-bottom: -35px;
    }
    .shop-items {
        margin-left: 0;
        margin-top: 70px;
        margin-bottom: 135px;
        flex-direction: column;
        gap: 30px;
        
    }
    .honey-info, .honey-info1 {
        margin-top: 0;
        max-width: 410px;
        min-width: 410px;
    }
    .container-honey1, .container-honey {
        margin: 0 auto;
    }
    .info-img1, .info-img2 {
        width: 250px;
        height: 250px;
        margin-left: 45px;
    }
    .info-text, .info-text1 {
        grid-column: 1/3;
        order: 2;
    }
    .info-h1 {
        font-size: 24px; 
    }
    .info-img2 {
        order: 1
    }

    .info-p {
        font-size: 13px;
    }
    .honey-product {
        width: 410px;
    }
    .buy-honey {
        flex-direction: column;
    }
    .buy1, .buy2 {
        background-color: rgb(253,246,238);
        width: 410px;
        height: 305px;
    }
    .our-product-h {
        flex-direction: column;
    }
    .product-h1 {
        margin-bottom: 0; 
        font-size: 35px; 
    }
    .product-text {
        order: 2;
    }
    .product-img1, .product-img2 {
        width:150px;
        height: 150px;
        order: 1;
    }
    .product-img2 {
        margin-left: 10px;
    }
    .product-h1-text {
        margin-bottom: 20px; 
        font-size: 24px; 
    }
    
    .product-p {
        margin-bottom: 36px; 
        font-size: 14px;
    }
    footer {
        margin-top: 20px;
        max-width: 410px;
        min-width: 410px;
        min-height: 410px;
        margin-left: 0;
    }
    .contacts {
        width: 360px;
        height: 300px;
        flex-direction: column;
    }
    .footer-logo1 {
        margin-right: 0;
    }
    .footer-text {
        margin-right: 0;
        max-width: 269px;
        font-size: 14px;
        line-height: 160%;
        font-weight: 500;
    }
    .footer-social {
        margin-right: 0;
        display: flex;
        gap: 40px;
    }
    .footer-app {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contacts-icons {
        width: 410px;
        height: 1000px;
        flex-direction: column;
    }
    main {
        height: 3300px;
    }
    html {
        min-width: 410px;
        max-width: 410px;
    }
    .learn-more-btn {
        margin: 0 auto;
    }
    .learn-more {
        margin-left: 10px;
    }
}

@media (max-width: 375px) {
    .navbar-section {
        margin-left: 0;
    }
    .honeyjar {
        width: 360px;
        margin-left: 0;
        height: 710px;
        grid-template-rows: repeat(6, 110px);
    }
    body, main {
        max-width: 360px;
        min-width: 360px;
    }
    .honeyjar__text1 h1, .honeyjar__text2 h1, .honeyjar__text3 h1 {
        font-size: 50px;
        font-weight: 700;
        color: black;
    }
    .bee-image {
        display: none;
    }
    .honeyjar__image, .img1 {
        grid-column: 5/6;
        grid-row: 4/6;
        width: 250px;
        height: 220px;
    }
    .honeyjar__text1 {
        grid-column: 2/7;
        grid-row: 1/1;
        margin-left: 0;
        margin-top: 0;
    }
    
    .honeyjar__text2 {
        grid-column: 3/7;
        grid-row: 2/2;
        margin-left: 0;
        margin-top: 0;
    }
    
    .honeyjar__text3 {
        grid-column: 4/7;
        grid-row: 3/3;
        margin-left: 0;
        margin-top: 0;
    }
    .honeyjar__buttons {
        grid-column: 5/13;
        grid-row: 6/6;
    }
    .learn-more {
        margin-left: 0;
    }
    .honey-shops {
        margin-top: 60px; 
        display: flex;
        flex-direction: row;
    }
    .shops-h1 {
        font-size: 35px;
        margin-left: 0;
        font-weight: bold;
        margin-bottom: -35px;
    }
    .shop-items {
        margin-left: 0;
        margin-top: 70px;
        margin-bottom: 135px;
        flex-direction: column;
        gap: 30px;
        
    }
    .honey-info, .honey-info1 {
        margin-top: 0;
        max-width: 360px;
        min-width: 360px;
    }
    .container-honey1, .container-honey {
        margin: 0 auto;
    }
    .info-img1, .info-img2 {
        width: 250px;
        height: 250px;
        margin-left: 45px;
    }
    .info-text, .info-text1 {
        grid-column: 1/3;
        order: 2;
    }
    .info-h1 {
        font-size: 24px; 
    }
    .info-img2 {
        order: 1
    }

    .info-p {
        font-size: 13px;
    }
    .honey-product {
        width: 360px;
    }
    .buy-honey {
        flex-direction: column;
    }
    .buy1, .buy2 {
        background-color: rgb(253,246,238);
        width: 360px;
        height: 305px;
    }
    .our-product-h {
        flex-direction: column;
    }
    .product-h1 {
        margin-bottom: 0; 
        font-size: 35px; 
    }
    .product-text {
        order: 2;
    }
    .product-img1, .product-img2 {
        width:150px;
        height: 150px;
        order: 1;
    }
    .product-h1-text {
        margin-bottom: 20px; 
        font-size: 24px; 
    }
    
    .product-p {
        margin-bottom: 36px; 
        font-size: 14px;
    }
    footer {
        margin-top: 20px;
        max-width: 360px;
        min-width: 360px;
        min-height: 360px;
        margin-left: 0;
    }
    .contacts {
        width: 360px;
        height: 300px;
        flex-direction: column;
    }
    .footer-logo1 {
        margin-right: 0;
    }
    .footer-text {
        margin-right: 0;
        max-width: 269px;
        font-size: 14px;
        line-height: 160%;
        font-weight: 500;
    }
    .footer-social {
        margin-right: 0;
        display: flex;
        gap: 40px;
    }
    .footer-app {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contacts-icons {
        width: 360px;
        height: 1000px;
        flex-direction: column;
    }
    main {
        height: 3300px;
    }
    html {
        min-width: 360px;
        max-width: 360px;
    }
    .learn-more-btn {
        margin: 0 auto;
    }
    .learn-more {
        margin-top: 20px;
    }
}
}@media (max-width: 320px) {
    .navbar-section {
        max-width: 320px;
    }
    .honeyjar {
        width: 320px;
        height: 750px;
        grid-template-rows: repeat(7, 110px);
    }
    .honeyjar__buttons {
        grid-row: 6/7;
        height: 200px;
    }
    .learn-more {
        margin-top: 20px;
    }
    .honey-info, .honey-info1 {
        max-width: 320px;
        min-width: 320px;
    }
    .info-img1, .info-img2 {
        margin-left: 0;
    }
    .info-h1 {
        font-size: 28px; 
    }
    .info-p {
        font-size: 14px;
    }
    .honey-product {
        width: 320px;
    }
    .buy1, .buy2 {
        width: 320px;
    }
    footer {
        max-width: 320px;
        min-width: 320px;
    }
    .contacts {
        width: 320px;
    }
    .contacts-icons {
        width: 320px;
    }
    main {
        max-width: 320px;
        min-width: 320px;
        height: 3400px;
    }
    html {
        min-width: 320px;
        max-width: 320px;
    }
    body {
        max-width: 320px;
        min-width: 320px;
    }
    .container-jar {
        max-width: 320px;
        min-width: 320px;
    }
    .honey-section {
        max-width: 320px;
        min-width: 320px;
        margin-left: 0;
    }
}
